{% extends "layout.html" %}
{% block title %}Tasks{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <a class="button button-primary" href="{{url_for('add_tasks')}}">Add Task</a>
        <a class="button button-primary" href="{{url_for('logout')}}">Logout</a>
        <p>Logged in as {{ session.username }}</p>
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created Date (UTC)</th>
                <th>Status</th>
            </tr>
            </thead>
            {% for task in tasks %}
                <tr>
                    <td>{{ task["title"] }}</td>
                    <td>{{ task["description"] }}</td>
                    <td>{{ task["created_date"] }}</td>
                    {% if task["completion_date"] %}
                        <td>Completed</td>
                    {% else %}
                        <td>Not Completed</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}